<html xmlns:th="https://www.thymeleaf.org">
<body>
	<h1>Liste des auteurs</h1>
	<table border="1">
		<tr>
			<th>Id</th>
			<th>Nom</th>
			<th>Prénom</th>
		</tr>
		<tr th:each="auteur : ${auteurs}">
			<td th:text="${auteur.id}" />
			<td th:text="${auteur.nom}" />
			<td th:text="${auteur.prenom}" />
		</tr>
	</table>
	
	<h1>Initialisation des auteurs</h1>
	<form action="/bib/init" method="post">
	<input type="submit" value = "Init">
	</form>
	
	
	<h1>Nouvel Auteur</h1>
	<form action="/bib/add" method="post">
	<p>Nom</p> <input type="text" name="nom">
	<p>Prénom</p> <input type="text" name="prenom">
		<input type="submit" value = "add">
	</form>
	
	
	<h1>Supprimer Auteur</h1>
		<h1>Liste des auteurs</h1>
	<table border="1">
		<tr>
			<th>Id</th>
			<th>Nom</th>
			<th>Prénom</th>
		</tr>
		<form action="/bib/remove" method="post">
		<tr th:each="auteur : ${auteurs}">
			<td th:text="${auteur.id}" />
			<td th:text="${auteur.nom}" />
			<td th:text="${auteur.prenom}" />
			<input type="hidden" value="${auteur.nom}" name="id">
			<td><input type="submit" value = "remove"></td>
			</form>
		</tr>
	</table>
	
</body>
</html>