<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events Dashboard</title>
    <style>
        table {
            border-collapse: collapse;
            
        }
        
        th, td {
            border: 1px solid black;
           
        }
        
    </style>
</head>
<body>
    <h1>Events Dashboard</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Libelle</th>
                <th>Date</th>
                <th>Horaire début</th>
                <th>Horaire fin</th>
                <th>Suppression</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${event.id_event}"></td>
                <td th:text="${event.libelle}"></td>
                <td th:text="${event.date}"></td>
                <td th:text="${event.horaire_debut}"></td>
                <td th:text="${event.horaire_fin}"></td>
                <td>
                    <form action="/agenda/delete_event" method="post">
                        <input type="hidden" name="id_event" th:value="${event.id_event}" />
                        <input type="submit" value="Supprimer" />
                    </form> </td>
            </tr>
        </tbody>
    </table>

    <br><h1>Ajouter un événement</h1>
    <form action="/agenda/add_event" method="post">
        <table>
            <tr>
                <td><h5>Libellé</h5></td>
                <td><h5>Date</h5></td>
                <td><h5>Horaire début</h5></td>
                <td><h5>Horaire fin</h5></td>

            </tr>
            <tr>
                <input type="hidden" name="id_agenda" th:value="${session.id_agenda}" />
		<td><input type="text" name="libelle" placeholder="Nom de l'agenda"></td>
		<td><input type="date" name="date" placeholder="Date de l'agenda"></td>
		<td><input type="time" name="horaire_debut" placeholder="Horaire de début"></td>
		<td><input type="time" name="horaire_fin" placeholder="Horaire de fin"></td>
		<td><input type="submit" value = "Ajouter"></td>
    </tr>
    </table>
	</form>
<br>
    <a href="/agenda/dashboard">Retour</a>

</body>
</html>