<html xmlns:th="https://www.thymeleaf.org">
<body>
	<h1>Liste des agendas de <a th:text="${session.account.nom}"></a></h1> 

	<form action="/agenda/create" method="post">
		<input type="text" name="nom" placeholder="Nom de l'agenda">
		<input type="submit" value = "Créer un agenda">
	</form>
	<table border="1">
		<tr>
			<th>Id</th>
			<th>Nom</th>
		</tr>
		<tr th:each="agenda : ${agendas}">
			<form action="/agenda/show_events_from_agenda" method="POST">
			<td th:text="${agenda.id}" />
			<td th:text="${agenda.nom}" />
			<input type="hidden" name="agenda_id" th:value="${agenda.id}" />
			<td><input type="submit" value="Voir les événements" /></td>
			</form>
		</tr>
		</table>
	


<form action="/agenda/home">
		<br><input type="submit" value = "Déconnexion">
</form>
</body>
</html>